.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
/**********Icon***********/
.icon {
  font-size: 25px;
  cursor: pointer;
}
.icon:hover {
  font-size: 30px;
  cursor: pointer;
}

/****************Home************/
.shelf {
  margin: 1rem 0;
}
.shelf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}
.shelf-content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

/******search**************/
.search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.search-input-container input {
  width: 90%;
  padding: 1rem;
}
/**********Book Card**********/
.book-card-container {
  width: 250px;
  height: 350px;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 8px;
}
.book-card-container img {
  width: 100%;
  height: 60%;
}
.book-card-content {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 0;
  text-align: left;
}
.book-card-title {
  font-size: 20px;
  font-weight: bold;
}
.book-card-author {
  font-size: 16px;
}

.book-card-expand-btn select {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
}
